#trip-detail-container {
  border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin: 0 auto;

  width: 90%;

  height: 500px;
}
